# Carpetas generadas por Node.js (backend y frontend)
node_modules/

# Archivos de configuracion de entorno (sensibles)
.env
.env.local

# Carpetas de construccion/compilacion
build/
dist/

# Archivos de sistema operativo
.DS_Store # macOS
Thumbs.db # Windows

# Archivos de configuracion de VS Code (opcional)
.vscode/